.card {
    max-width: 320px;
    height: auto;
    border: 1px solid #C9C9C9;
    background: rgba(249, 249, 249, 0.50);

    /* position: relative; */
    padding: 15px;
}

.card-title {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}


.navigation {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}



.box {
    width: 255px;
    height: auto;
    /* width: auto;
    height: auto; */
    background: white;
    padding: 10px;
    display: block;
    border: 1px solid #C9C9C9;
}

.box-title {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}


.box-details,
.card-details {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.button {
    background: rgba(0, 0, 255, 0.701);
    color: #fff;
    border-radius: 5px;
    width: 60px;
    height: 25px;
    outline: none;
    border: 2px solid blue;
}